.thumbnail {
    margin: 15px;
    height: 219px;
    overflow: scroll;
    word-wrap: break-word;

    .date {
        font-weight: 600;
        display: block;
        margin-bottom: 0.5rem;
        color: $light-gray;
	}
}