.thumbnail {
	width: 29%;
    margin: 15px;
    height: 267px;
    overflow: scroll;
    word-wrap: break-word;

    .date {
        font-weight: 600;
        display: block;
        margin-bottom: 0.5rem;
        color: $light-gray;
	}
}