.hello {
  font-family: 'Playfair Display', serif;
}

.brooke-text {
  font-family: 'Inconsolata', monospace;
  font-size: 2em;
  width: 700px;
  margin-bottom: 24px;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

