.section-head {
    text-align: center;
}

.about-me-div {
    margin-top: 100px;
}

a:hover{
     text-decoration: none;
 }

.contact-div {
    margin-bottom: 42px;
        
        .fa {
            padding: 12px;
            color: white;
            font-size: 3em;
        }
      }

    .fa:hover {
        
        -webkit-transition: all .2s ease-in;
            -moz-transition: all .2s ease-in;
            -ms-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            transition: all .2s ease-in;
            text-align: center;
            -webkit-transition: -webkit-transform .7s;
            -moz-transition: -moz-transform .7s;
            -ms-transition: -ms-transform .7s;
            -o-transition: -o-transform .7s;
            transition: transform .7s;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
    }


.navbar {
    background-color: transparent;
    border-color: black;
    color: white;
 }

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 2em;
    font-size: 1.5em;
    margin-left: 20px;

    a:hover{
      color: white;
      text-decoration: none;
    }
}

a:before, a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -1px;
  background: #fff;
}

a:before {
  left: 0;
}

a:after {
  right: 0;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

a:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}