
<h1 class="ml9">
  <span class="text-wrapper">
    <span class="letters">Hello, I'm Brooke</span>
  </span>
</h1>

<div class="main-image col-md-9 col-md-offset-4">
	<div class="item"></div>
</div>

<p class="brooke-text ng-scope col-md-4 col-md-offset-3">Brooke Lewis is a <span class="highlighted">frontend developer</span> and web designer residing in Nashville, Tennessee.</p>
<br><br>

<div class="contact-div col-xs-12" id="contactMe">
	<a href="https://www.facebook.com/brooklynelewis"><i class="fa fa-facebook" aria-hidden="true"></i></a>
	<a href="https://www.instagram.com/brooklynlew"><i class="fa fa-instagram" aria-hidden="true"></i></a>
	<a href="https://www.pinterest.com/belewis/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
	<a href="mailto:belv2c@gmail.com"><i class="fa fa-google" aria-hidden="true"></i></a>
	<a href="https://www.linkedin.com/in/belv2c/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
</div>





