<div class="row">
	<div id="container">
		<div id="circle">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="160px" height="160px" viewBox="0 0 300 300" xml:space="preserve">
    		<defs>
        	<path id="circlePath" d=" M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0"/>
    		</defs>
    		<circle cx="150" cy="100" r="75" fill="none"/>
    		<g>
        	<use xlink:href="#circlePath" fill="none"/>
        	<text fill="#000">
            <textPath xlink:href="#circlePath">O O     BROOKE LEWIS</textPath>
        	</text>
   			</g>
			</svg>
		</div>
	</div>

	<h1 class="hello col-xs-12 col-md-8 col-md-offset-4">Brooke Lewis is a front-end developer and full-stack apprentice living in Nashville</h1>

	<p class="say-hi col-xs-12 col-md-8 col-md-offset-4">🙋🏼&nbsp;Say hi</p>
	
 	<div class="contact-div col-xs-12 col-md-4 col-md-offset-4" id="contactMe">
 		<br>
		<a href="https://www.facebook.com/brooklynelewis"><i class="fa fa-facebook" aria-hidden="true"></i></a>
		<a href="https://www.instagram.com/brooklynlew"><i class="fa fa-instagram" aria-hidden="true"></i></a>
		<a href="https://www.github.com/belv2c"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
		<a href="mailto:belv2c@gmail.com"><i class="fa fa-google" aria-hidden="true"></i></a>
		<a href="https://www.linkedin.com/in/belv2c/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
	</div>
</div> 