<div class = "contact-div" id="contact">
	<a href="https://www.facebook.com/brooklynelewis"><i class="fa fa-facebook" aria-hidden="true"></i></a>
	<a href="https://www.instagram.com/brooklynlew"><i class="fa fa-instagram" aria-hidden="true"></i></a>
	<a href="https://www.pinterest.com/belewis/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
	<a href="mailto:belv2c@gmail.com"><i class="fa fa-google" aria-hidden="true"></i></a>
	<a href="https://www.linkedin.com/in/belv2c/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

</div>
