
<div class="text-center" id="projects">
<h2 class="section-head col-md-12">Projects</h2>
	<div class="content" id="projects">
<div class="row project-grid container-fluid">
    <div class="col-md-4 col-xs-12">
      <a href="https://angular-contacts-673f5.firebaseapp.com/#!/login" class="thumbnail">
      <div id="box1">Angular- Contacts</div>
      </a>
    </div>
    <div class="col-md-4 col-xs-12">
      <a href="https://github.com/nss-evening-cohort-06/chatty-moose-planets" class="thumbnail">
  		<div id="box2">Chatty- App</div>
      </a>
    </div>
    <div class="col-md-4 col-xs-12">
      <a href="https://github.com/belv2c/adopt-my-cats" class="thumbnail">
     	<div id="box3">Cat- <br>Gifs</div>
      </a>
    </div>
</div>
</div>
</div>