body {
	background-color: FDFDFD;
}

nav a {
	text-decoration: none;
}

nav a:hover {
	color:slategray;
	background-color: white;
}

nav a:active {
	font-size: 24px;
}
.hello {
	text-align: center;
	font-family: 'Playfair Display', serif;
	margin: -39px;
	padding: 29px;
	background-color: pink;
	color: white

}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: pink;
	justify-content: flex-end;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	margin: -8px;

}

.navbar {
	list-style-type: none;
	margin: -3px;
	display: inline;
	background-color: pink;
	text-decoration: none;
	padding: 14px 16px;
}


.displayed {
	width: 420px;
	height: 300px;
	opacity: 0.7;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Blog Styling */

.blog {
	width: 400px;
	border: 2px solid slategray;
	margin: 1%;
}

.date {
	max-width:100%;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.blog-text > * {
	margin: 0;
	text-align: center;
}

.blog-text {
	padding: 2%;
	font-family: 'Roboto', sans-serif;
}

.title {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.blog-text h6 {
	font-size: 1.5em;
	padding: 2%;
}

/* Blog Layout */

#blog-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;