/* universal styling */

body {
	background-color: FDFDFD;
}

/* navbar */
nav a {
	text-decoration: none;
}

nav a:hover {
	color: slategray;
	background-color: white;
	transition: .3s background-color;
	color: white;
}

nav a:active {
	font-size: 24px;
}

.navbar {
	display: flex;
	list-style-type: none;
	margin: -3px;
	display: inline;
	background-color: pink;
	text-decoration: none;
	padding: 14px 16px;
}

.nav-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: pink;
	justify-content: flex-end;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	margin: -8px;
}

/* homepage styling */

.hello {
	text-align: center;
	font-family: 'Playfair Display', serif;
	margin: -39px;
	padding: 29px;
	background-color: pink;
	color: white
}



.main-image {
	width: 420px;
	height: 300px;
	opacity: 0.7;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Blog Styling */

.blog {
	width: 400px;
	border: 2px solid slategray;
	margin: 1%;
}

.blog-date {
	max-width:100%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.blog-text > * {
	margin: 0;
	text-align: center;
}

.blog-text {
	padding: 2%;
	font-family: 'Roboto', sans-serif;
}

.blog-title {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.blog-text h6 {
	font-size: 1.5em;
	padding: 2%;
}

.blog-content {
	margin-top: 10px;
}

/* Blog Layout */

#blog-holder {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}

nav a:active {
	font-size: 24px;
}

/* Contact Page */

.contact-text {
	text-align: center;
}

.contact-div {
	display: flex;
	justify-content: center;
}

