body {
  background-color: #ccdb43; }

img {
  height: -webkit-fill-available;
  width: auto; }

.blogz {
  width: 300px;
  height: 200px;
  border: 2px solid slategray;
  margin: 1%;
  overflow: scroll; }

h1 {
  color: white;
  text-align: center; }
