body {
  background-color: white; }

img {
  height: -webkit-fill-available;
  width: auto; }

.main-image {
  width: 346px;
  height: 350px;
  overflow: hidden;
  position: relative;
  margin-bottom: 24px;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); }
  .main-image .item {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(https://avatars3.githubusercontent.com/u/30091921?s=460&v=4);
    opacity: 0.9;
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    background-blend-mode: darken;
    transition: transform 0.3s; }

.item:hover {
  transform: translate(3px, 0px) !important; }

.thumbnail {
  width: 29%;
  margin: 15px;
  height: 267px;
  overflow: scroll;
  word-wrap: break-word; }
  .thumbnail .date {
    font-weight: 600;
    display: block;
    margin-bottom: 0.5rem;
    color: lightgray; }

h1 {
  color: black;
  text-align: center; }

.section-head {
  text-align: center; }

a:hover {
  text-decoration: none; }

.contact-div {
  text-align: center;
  margin-bottom: 42px; }
  .contact-div .fa {
    padding: 12px;
    color: black;
    font-size: 3em; }

.fa:hover {
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
  text-align: center;
  -webkit-transition: -webkit-transform .7s;
  -moz-transition: -moz-transform .7s;
  -ms-transition: -ms-transform .7s;
  -o-transition: -o-transform .7s;
  transition: transform .7s;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.navbar {
  background-color: white;
  border-bottom: white;
  color: black; }

h1 {
  font-family: objektiv-mk1, sans-serif;
  font-style: normal;
  font-weight: 200;
  margin-top: -1px;
  font-size: 1.7em;
  text-align: center; }

.brooke-text {
  font-family: 'Inconsolata', monospace;
  font-size: 2em;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s; }

.about-me {
  margin-top: -2px;
  font-size: 1.5em; }

.dev {
  font-size: 2.5em;
  margin: 5px;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 45px; }

h4 {
  text-align: center;
  margin-top: 45px; }

.contact-div {
  margin-top: 45px; }

.project-card {
  height: 200px; }
  .project-card .fa-github-alt {
    color: mediumpurple; }
