body {
  background-color: #000; }

img {
  height: -webkit-fill-available;
  width: auto; }

.main-image {
  width: 346px;
  height: 350px;
  overflow: hidden;
  position: relative;
  margin-bottom: 24px;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%); }
  .main-image .item {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(https://avatars3.githubusercontent.com/u/30091921?s=460&v=4);
    opacity: 0.9;
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    background-blend-mode: darken;
    transition: transform 0.3s; }

.item:hover {
  transform: translate(3px, 0px) !important; }

.thumbnail {
  margin: 15px;
  height: 219px;
  overflow: scroll;
  word-wrap: break-word; }
  .thumbnail .date {
    font-weight: 600;
    display: block;
    margin-bottom: 0.5rem;
    color: lightgray; }

.section-head {
  text-align: center; }

.about-me-div {
  margin-top: 100px; }

a:hover {
  text-decoration: none; }

.contact-div {
  margin-bottom: 42px; }
  .contact-div .fa {
    padding: 12px;
    color: white;
    font-size: 3em; }

.fa:hover {
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
  text-align: center;
  -webkit-transition: -webkit-transform .7s;
  -moz-transition: -moz-transform .7s;
  -ms-transition: -ms-transform .7s;
  -o-transition: -o-transform .7s;
  transition: transform .7s;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.navbar {
  background-color: transparent;
  border-color: black;
  color: white; }

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 2em;
  font-size: 1.5em;
  margin-left: 20px; }
  .navbar-default .navbar-nav > li > a a:hover {
    color: white;
    text-decoration: none; }

a:before, a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -1px;
  background: #fff; }

a:before {
  left: 0; }

a:after {
  right: 0;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); }

a:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); }

h1 {
  font-family: objektiv-mk1, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 3em;
  color: white; }

.brooke-text {
  font-family: 'Inconsolata', monospace;
  font-size: 2em;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s; }

.say-hi {
  color: white;
  font-size: 2em;
  margin-top: 50px; }

.about-me {
  margin-top: -2px;
  font-size: 1.5em; }

.dev {
  font-size: 2.5em;
  margin: 10px;
  text-align: center; }

.stack-title {
  font-family: objektiv-mk1, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 2em; }

h4 {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 24px; }

#container {
  margin: 0%; }

#circle {
  position: inherit;
  width: 100%;
  padding-bottom: 20%;
  overflow: hidden; }

#circle text {
  font-family: 'Helvetica Neue', Arial;
  font-size: 16px;
  font-weight: bold;
  fill: white;
  letter-spacing: .2em;
  word-spacing: 2.2em; }

#circle svg {
  position: absolute;
  top: -43px;
  width: 23%;
  height: 300px;
  -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
  -ms-animation-name: rotate;
  -o-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -ms-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg); }
  to {
    -webkit-transform: rotate(0); } }

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(360deg); }
  to {
    -moz-transform: rotate(0); } }

@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(360deg); }
  to {
    -ms-transform: rotate(0); } }

@-o-keyframes rotate {
  from {
    -o-transform: rotate(360deg); }
  to {
    -o-transform: rotate(0); } }

@keyframes rotate {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0); } }

.project-card {
  height: 200px;
  text-align: center; }
  .project-card .fa-github-alt {
    color: mediumpurple; }
